@model IEnumerable<RAM.Models.Rental>

@{
    ViewBag.Title = "Movies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Movies</h2>

<table id="movies" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Customer Name</th>
            <th>Movie</th>
            <th>Date Rented</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>


}
